<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xl-8 align-self-center">
      <div class="section mx-auto text-center slider-height-padding">
        <input
          class="checkbox frst"
          type="radio"
          id="slide-1"
          name="slider"
          checked
        />
        <label for="slide-1"></label>
        <input class="checkbox scnd" type="radio" name="slider" id="slider-2" />
        <label for="slider-2"></label>
        <input class="checkbox thrd" type="radio" name="slider" id="slider-3" />
        <label for="slider-3"></label>
        <input class="checkbox foth" type="radio" name="slider" id="slider-4" />
        <label for="slider-4"></label>
        <ul>
          <li>
            <div
              style="
                background-color: white;
                width: 100%;
                height: 90px;
                position: absolute;
                bottom: 0;
                border-radius: 16px;
                font-family: 'MadeTommy Medium', sans-serif;
                font-size: 20px;
                text-align: center;
              "
            >
              Un travail vraiment mais vreumant
            </div>
          </li>

          <li>
            <div
              style="
                background-color: white;
                width: 100%;
                height: 90px;
                position: absolute;
                bottom: 0;
                border-radius: 16px;
              "
            >
              BONJOUR
            </div>
          </li>
          <li>
            <div
              style="
                background-color: white;
                width: 100%;
                height: 90px;
                position: absolute;
                bottom: 0;
                border-radius: 16px;
              "
            >
              BONJOUR
            </div>
          </li>
          <li>
            <div
              style="
                background-color: white;
                width: 100%;
                height: 90px;
                position: absolute;
                bottom: 0;
                border-radius: 16px;
              "
            >
              BONJOUR
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
