<div class="greenContainer" (click)="goToMissions()">
  <div style="font-size: 20px; text-transform: uppercase; text-align: left">3. Formations de vos équipes</div>

  <ng-lottie [options]="{ path: 'assets/lotties/business-meeting.json' }"></ng-lottie>
  <div style="font-size: 15px">
    <b>- Pour les entrepreneurs et dirigeants :</b>
    Des formations courtes et imagées pour vous initier à la comptabilité et à la gestion de votre entreprise.
  </div>

  <div style="font-size: 15px; margin-top: 10px">
    <b>- Pour les salariés du tertiaire :</b>
    Des formations techniques couplées à des formations « soft skills » pour les salariés du secteur comptable,
    juridique et fiscale.
  </div>

  <div style="font-size: 15px; margin-top: 10px">
    <b>- L'ambition :</b>
    Après entretien/coaching de sélection, level-up de vos collaborateurs ! Succès garanti !
  </div>
</div>
