<div class="greenContainer" (click)="goToMissions()">
  <div style="font-size: 20px; text-transform: uppercase; text-align: left">1. Expertises comptables et fiscales</div>

  <ng-lottie [options]="{ path: 'assets/lotties/business-deal.json' }"></ng-lottie>
  <div style="font-size: 15px">
    <b>- Choix du statut juridique</b>
    , démarches légales, en bref : la création de votre entreprise, le stress en moins.
  </div>

  <div style="font-size: 15px; margin-top: 10px">
    <b>- Des conseils avisés</b>
    , francs, et directs. #optimisonsvotrefiscalité
  </div>

  <div style="font-size: 15px; margin-top: 10px">
    <b>- Pilotage d’entreprise :</b>
    Des outils connectés, des tableaux de bords imagés, qui vous aideront à prendre les meilleures décisions au
    quotidien, dans le respect d’une stratégie bien élaborée.
  </div>
</div>
