<div class="container">
  <img
    class="sf-logo"
    src="https://vignette2.wikia.nocookie.net/ssb/images/f/f6/SF_Logo.png/revision/latest?cb=20150614010256"
  />
  <h1 class="title">Player Select</h1>
  <div class="select-container">
    <a class="character" data-name="akuma" rel="Akuma">
      <img class="character__img" src="https://i.imgur.com/9fMNBjt.png" />
      <p class="character__name">Abdelhadi</p>
    </a>
    <a class="character" data-name="balrog" rel="Balrog">
      <img class="character__img" src="https://i.imgur.com/VbMcrxh.png" />
      <p class="character__name">Roselyne</p>
    </a>
    <a class="character" data-name="bison" rel="M. Bison">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/bison.png" />
      <p class="character__name">M. Bison</p>
    </a>
    <a class="character" data-name="blanka" rel="Blanka">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/blanka.png" />
      <p class="character__name">Blanka</p>
    </a>
    <a class="character" data-name="cammy" rel="Cammy">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/cammy.png" />
      <p class="character__name">Cammy</p>
    </a>
    <a class="character" data-name="chunli" rel="Chun Li">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/chunli.png" />
      <p class="character__name">Chun Li</p>
    </a>
    <a class="character" data-name="dhalsim" rel="Dhalsim">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/dhalsim.png" />
      <p class="character__name">Dhalsim</p>
    </a>
    <a class="character" data-name="ehonda" rel="E. Honda">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/ehonda.png" />
      <p class="character__name">E. Honda</p>
    </a>
    <a class="character" data-name="evilryu" rel="Evil Ryu">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/ryu.pnevilg.png" />
      <p class="character__name">Evil Ryu</p>
    </a>
    <a class="character" data-name="guile" rel="Guile">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/guile.png" />
      <p class="character__name">Guile</p>
    </a>
    <a class="character" data-name="ken" rel="Ken">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/ken.png" />
      <p class="character__name">Ken</p>
    </a>
    <a class="character" data-name="ryu" rel="Ryu">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/ryu.png" />
      <p class="character__name">Ryu</p>
    </a>
    <a class="character" data-name="sagat" rel="Sagat">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/sagat.png" />
      <p class="character__name">Sagat</p>
    </a>
    <a class="character" data-name="thawk" rel="T-Hawk">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/t-hawk.png" />
      <p class="character__name">T-Hawk</p>
    </a>
    <a class="character" data-name="vega" rel="Vega">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/vega.png" />
      <p class="character__name">Vega</p>
    </a>
    <a class="character" data-name="zangief" rel="Zangief">
      <img class="character__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/zangief.png" />
      <p class="character__name">Zangief</p>
    </a>
  </div>
</div>
<audio loop="true">
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/02.%20Player%20Select.mp3" type="audio/ogg" />
</audio>
