@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.sf-logo {
  width: 150px;
  margin: 1em auto;
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #dac751;
  letter-spacing: 0.1em;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.6);
}

.select-container {
  max-width: 860px;
  display: flex;
  margin: 1em auto 3em;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  padding: 4px 4px 0px;
}

.character {
  margin-bottom: 4px;
  width: auto;
  max-height: 120px;
  align-self: stretch;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
  text-align: center;
  &__name {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: none;
  }
  &__img,
  &__name {
    margin: 0;
    padding: 0;
  }
  &__img {
    filter: grayscale(0.84);
    height: 120px;
  }
  &.active {
    transform: scale(1.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
    .character__name {
      display: block;
      width: 100%;
      background: #e3231e;
      color: white;
      opacity: 0.7;
      margin-top: 0.8em;
      font-size: 0.7em;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0.3em 0;
    }
    &:after {
      content: '1P';
      position: absolute;
      text-align: center;
      top: -15px;
      left: 30%;
      font-size: 36px;
      color: #e3231e;
      font-weight: 700;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    }
    .character__img {
      filter: grayscale(0);
      outline: 4px solid white;
      animation: flash 300ms linear;
    }
  }
}

.list-footer {
  background: linear-gradient(to top, rgba(black, 0.8), rgba(black, 0));
  font-family: Tahoma, sans-serif;
  color: white;
  text-align: center;
  font-size: 0.7em;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  position: fixed;
  bottom: 0;
  width: 100%;
  .heart {
    color: tomato;
    font-size: 2em;
    vertical-align: middle;
  }
}

@keyframes flash {
  0% {
    filter: brightness(100%);
  }
  20% {
    filter: brightness(150%);
  }
  40% {
    filter: brightness(100%);
  }
  60% {
    filter: brightness(150%);
  }
  80% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(150%);
  }
}

div.ff7 {
  border: solid 1px #424542;
  box-shadow: 1px 1px #e7dfe7, -1px -1px #e7dfe7, 1px -1px #e7dfe7, -1px 1px #e7dfe7, 0 -2px #9c9a9c, -2px 0 #7b757b,
    0 2px #424542;
  width: 60%;

  padding: 5px 10px;
  margin: 50px 50px;

  background: #04009d;
  background: -moz-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #04009d), color-stop(100%, #06004d));
  background: -webkit-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: -o-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: -ms-linear-gradient(top, #04009d 0%, #06004d 100%);
  background: linear-gradient(to bottom, #04009d 0%, #06004d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );

  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
div.ff7 * {
  color: #eff1ff;
  text-shadow: 2px 2px #212421, 1px 1px #212021;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 5px 0;
}
