<div class="batman">
  <div class="head">
    <div class="ears">
      <span></span>
      <span></span>
    </div>
    <div class="nose"></div>
    <div class="mouth"></div>
  </div>
  <div class="body">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="leg">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="leg">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="foot"></div>
  <div class="foot"></div>
  <div class="cape">
    <div class="cape-shape"></div>
  </div>
  <div class="watchtower">
    <span></span>
  </div>
</div>
