<div class="greenContainer" (click)="goToMissions()">
  <div style="font-size: 20px; text-transform: uppercase; text-align: left">
    2. Coaching pour Entrepreneurs et Dirigeants
  </div>
  <div style="height: 200px">
    <ng-lottie [options]="{ path: 'assets/lotties/breath.json' }"></ng-lottie>
  </div>
  <div style="font-size: 15px">
    <b>- Le coaching</b>
    est encore un outil sous-coté aujourd’hui.
  </div>

  <div style="font-size: 15px; margin-top: 10px">
    <b>- Pour ceux qui ont eu la chance de se faire accompagner</b>
    , voici une liste loin d’être exhaustive des sujets sur lesquels le coaching peut se révéler un allié de choix :
  </div>

  <div style="font-size: 15px; margin-top: 10px; display: flex; flex-direction: column">
    <b>- Fixer ses tarifs</b>
    <b>- Revenus instables</b>
    <b>- Ressources humaines</b>
    <b>- Démarchage de la clientèle</b>
    <b>- Défauts de paiement des clients</b>
    <b>- Gestion du temps</b>
    <div (click)="readNext()" style="text-align: right; cursor: pointer">... Lire la suite</div>
  </div>
</div>
