@import "src/styles";

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logoMagic {
  min-height: 250px;
}
.titleMagic {
  font-family: "Kanyon Bold", sans-serif;
  font-size: 40px;
  margin-top: 50px;
  text-transform: lowercase;
}
.titleMagic:first-letter {
  text-transform: uppercase;
}
.titleDescription {
  font-family: "EncodeSans Regular", sans-serif;
  font-size: 20px;
  color: #9690aa;
  margin-top: 50px;
  text-transform: lowercase;
}
.titleDescription:first-letter {
  text-transform: uppercase;
}
@mixin magic-border($width, $color, $duration, $direction) {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: calc(100% + #{$width * 2});
    height: calc(100% + #{$width * 2});
    top: calc(#{$width}/ -1);
    left: calc(#{$width}/ -1);
    background: linear-gradient(to right, $color 0%, $color 100%),
      linear-gradient(to top, $color 50%, transparent 50%),
      linear-gradient(to top, $color 50%, transparent 50%),
      linear-gradient(to right, $color 0%, $color 100%),
      linear-gradient(to left, $color 0%, $color 100%);
    background-size: 100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform $duration ease-in-out,
      background-position $duration ease-in-out,
      background-size $duration ease-in-out;
    transform: scaleX(0) rotate(180deg * $direction);
    transition-delay: $duration * 2, $duration, 0s;
  }
  &:hover {
    &:before {
      background-size: 200% $width, $width 400%, $width 400%, 55% $width,
        55% $width;
      background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform: scaleX(1) rotate(180deg * $direction);
      transition-delay: 0s, $duration, $duration * 2;
    }
  }
}

@mixin magic-border-mask($width, $duration, $background, $direction) {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: calc(100% + #{$width * 2});
    height: calc(100% + #{$width * 2});
    top: calc(#{$width}/ -1);
    left: calc(#{$width}/ -1);
    mask: linear-gradient(to right, #000 0%, #000 100%),
      linear-gradient(to top, #000 50%, transparent 50%),
      linear-gradient(to top, #000 50%, transparent 50%),
      linear-gradient(to right, #000 0%, #000 100%),
      linear-gradient(to left, #000 0%, #000 100%);
    mask-size: 100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
    mask-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    mask-repeat: no-repeat, no-repeat;
    transition: transform $duration ease-in-out,
      mask-position $duration ease-in-out, mask-size $duration ease-in-out;
    transform: scaleX(0) rotate(180deg * $direction);
    transition-delay: $duration * 2, $duration, 0s;
    background: $background;
  }
  &:hover {
    &:before {
      mask-size: 200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
      mask-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform: scaleX(1) rotate(180deg * $direction);
      transition-delay: 0s, $duration, $duration * 2;
    }
  }
}

.wrap {
  width: 400px;
  .theMagicBorder {
    min-height: 700px;
    text-decoration: none;
    color: #222;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    @include magic-border-mask(
      10px,
      0.4s,
      linear-gradient(
        to bottom,
        rgba(42, 53, 108, 1) 0%,
        rgba(245, 143, 106, 1) 100%
      ),
      0
    );
    align-self: flex-end;
    font-family: "Oswald";
    margin: 20px;
    flex-grow: 1;
    cursor: pointer;
  }
}

.customContainer {
  background-color: white;
  padding: 0;
  width: 100%;
  max-width: 100%;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  height: 100%;
  padding-top: 50px;
}

.customContainerRight {
  background-color: white;
  padding: 0;
  width: 100%;
  max-width: 100%;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  height: 100%;
  padding-top: 30px;
  margin-left: -80px;
}

.titleGlobal {
  font-family: "Gilroy ExtraBold", sans-serif;
  font-size: 50px;
}
.titleGlobal:first-letter {
  text-transform: uppercase;
}

.descriptionGlobal {
  font-family: "EncodeSans Regular", sans-serif;
  font-size: 20px;
}
.descriptionGlobal:first-letter {
  text-transform: uppercase;
}

/*NEWSLETTER*/
.subscribeForm {
  padding: 0px;
  width: 100%;
  position: relative;
}

.emailForm {
  display: block;
  position: relative;
  word-wrap: break-word;
  text-align: left;
}

.emailInput {
  width: 70%;
  direction: ltr;
  background-color: rgba(23, 22, 26, 0.14);
  color: #232226;
  border: 1px solid transparent;
  padding: 14px 15px;
  line-height: 1.3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  -webkit-appearance: none;
  outline: none;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
}

.email-btn {
  color: #fff;
  background-color: #17161a;
  border: 1px solid #17161a;
  padding: 14px 18px;
  min-height: 52px;
  line-height: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  font-family: "Space Grotesk Bold", -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: inherit;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  display: inline-block;
  position: relative;
  text-align: center;
  overflow: hidden;
}
