<body style="background-color: #f5f4ff">
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header
    class="header-area header-sticky wow slideInDown"
    data-wow-duration="0.75s"
    data-wow-delay="0s"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="index.html" class="logo">
              <h4>ALI</h4>
            </a>

            <ul class="nav">
              <li class="scroll-to-section">
                <a href="#top" class="active">Home</a>
              </li>
              <li class="scroll-to-section"><a href="#about">About Us</a></li>
              <li class="scroll-to-section">
                <a href="#services">Services</a>
              </li>
              <li class="scroll-to-section">
                <a href="#portfolio">Portfolio</a>
              </li>
              <li class="scroll-to-section"><a href="#blog">Blog</a></li>
              <li class="scroll-to-section">
                <a href="#contact">Message Us</a>
              </li>
              <li class="scroll-to-section">
                <div class="main-red-button">
                  <a href="#contact">Contact Now</a>
                </div>
              </li>
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div
    class="main-banner wow fadeIn"
    id="top"
    data-wow-duration="1s"
    data-wow-delay="0.5s"
    style="background-color: #f5f4ff"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center" style="z-index: 1">
              <div
                class="left-content header-text wow fadeInLeftBig"
                data-wow-duration="1s"
                data-wow-delay="1s"
                style="position: absolute; top: 15%"
              >
                <div
                  id="bigTitle"
                  style="
                    font-family: 'Gilroy ExtraBold', sans-serif;
                    font-size: 80px;
                    display: flex;
                    flex-direction: column;
                  "
                >
                  <div>Expert-Comptable.</div>
                  <div>Formateur. Coach.</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div
                class="right-image wow fadeInRight"
                data-wow-duration="1s"
                data-wow-delay="0.5s"
              >
                <img
                  style="
                    transform: scale(3.5);
                    margin-top: 155px;
                    transform-origin: initial;
                  "
                  src="assets/images/template4/hello3.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="flexContainer1"
    class="fadeIn"
    data-wow-duration="1s"
    data-wow-delay="0.5s"
    style="margin-left: 80px"
  >
    <div class="container customContainer">
      <div class="flexContainer" id="myFlexContainer">
        <div class="wrap">
          <div class="theMagicBorder">
            <div class="logoMagic">
              <img src="assets/images/template4/expertiseComptableBlue.svg" />
            </div>
            <div class="titleMagic">Expertise Comptable</div>
            <div class="titleDescription">
              Nous offrons à nos clients une attention personnalisée et
              l'attention nécessaire pour assurer que leurs projets soient menés
              à bien.
            </div>
          </div>
        </div>

        <div
          class="wrap"
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div class="theMagicBorder">
            <div class="logoMagic" style="flex: 0.5">
              <img src="assets/images/template4/formationBlue.svg" />
            </div>
            <div class="titleMagic" style="flex: 0.5">Formation</div>
            <div class="titleDescription">
              A nos côtés, vous aurez l'opportunité de développer vos
              apprentissages personnels et professionnels.
            </div>
          </div>
        </div>

        <div class="wrap">
          <div class="theMagicBorder">
            <div class="logoMagic">
              <img src="assets/images/template4/jogging.svg" />
            </div>
            <div class="titleMagic">Coaching</div>
            <div class="titleDescription">
              Les clients reçoivent les outils et conseils nécessaires pour
              répondre à tous leurs besoins comptables, juridiques et fiscaux.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--    <ng-lottie
      id="login-lottie"
      [options]="{ path: 'assets/lotties/businessTeam.json' }"
    ></ng-lottie>-->

  <div
    id="section3part1"
    style="display: flex; flex-direction: row; margin-top: 50px"
  >
    <div style="">
      <!--      <img
        id="carImage"
        style="width: 1100px; height: 1100px; margin-left: -300px"
        src="assets/images/template4/car.svg"
      />-->
      <ng-lottie
        style="width: 1100px; height: 1100px"
        id="carImage"
        [options]="{ path: 'assets/lotties/computer-finance.json' }"
      ></ng-lottie>
    </div>
    <div style="flex-basis: 50%; margin-left: 50px; margin-right: 10px">
      <div class="titleGlobal" style="margin-top: 150px">
        Chez Accounting Luxembourg Institute,
      </div>
      <div class="descriptionGlobal" style="margin-top: 50px">
        Nous avons le souci de vos intérêts personnels et commerciaux. Notre
        objectif est de vous fournir des outils et conseils judicieux pour
        faciliter vos prises de décisions.
      </div>
      <div
        class="titleGlobal"
        style="font-size: 30px; color: #ff6884; margin-top: 30px"
      >
        - Gestion de la comptabilité et de la fiscalité de nos clients
      </div>
      <div
        class="titleGlobal"
        style="font-size: 30px; color: #ff6884; margin-top: 30px"
      >
        - Adaptation de nos services aux besoins de chacun
      </div>
      <div
        class="titleGlobal"
        style="font-size: 30px; color: #ff6884; margin-top: 30px"
      >
        - Votre comptabilité est entre de bonnes mains.
      </div>

      <div class="descriptionGlobal" style="margin-top: 30px">
        Contactez-nous et commencez à vous occuper de ce qui est vraiment
        important pour vous.
      </div>
    </div>
  </div>

  <div
    class="customContainerRight"
    id="customContainerRight"
    style="margin-top: 200px"
  >
    <div style="display: flex; flex-direction: row" id="section3part2">
      <div
        id="section3part2Div1"
        style="flex-basis: 50%; margin-left: 200px; margin-right: 10px"
      >
        <div class="titleGlobal" style="margin-top: 150px">
          Quand l'expert-comptable est aussi votre coach
        </div>
        <div class="descriptionGlobal" style="margin-top: 50px">
          Chez Accounting Luxembourg Institute, nous avons la conviction que
          pour que votre activité soit prospère, il faut être à son écoute.
        </div>
        <div
          class="titleGlobal"
          style="font-size: 40px; color: #ff6884; margin-top: 30px"
        >
          Et votre activité, c'est vous !
        </div>
        <div class="descriptionGlobal" style="margin-top: 30px">
          C'est pourquoi notre ambition, en plus des missions comptables,
          juridiques et fiscales, est de vous accompagner à faire passer votre
          business à l'étape supérieure.
        </div>
      </div>
      <div>
        <ng-lottie
          style="width: 1100px; height: 1100px"
          id="login-lottie"
          [options]="{ path: 'assets/lotties/popeye.json' }"
        ></ng-lottie>
      </div>
    </div>
  </div>

  <div
    style="display: flex; flex-direction: row; margin-top: 50px"
    id="section3part3"
  >
    <div style="">
      <img
        id="carImage3"
        style="width: 1100px; height: 1100px; margin-left: -150px"
        src="assets/images/template4/car.svg"
      />
    </div>
    <div style="flex-basis: 50%; margin-left: 50px; margin-right: 10px">
      <div class="titleGlobal" style="margin-top: 150px">
        La vie est un apprentissage qui ne finit jamais
      </div>
      <div class="descriptionGlobal" style="margin-top: 50px">
        Dites nous ce que vous faites, nous identifierons ce dont vous avez
        besoin.
      </div>
      <div
        class="titleGlobal"
        style="font-size: 30px; color: #ff6884; margin-top: 30px"
      >
        - Nous définissons ensemble vos objectifs. Et mettons un plan de
        formation sur mesure et adapté à vos besoins.
      </div>
      <div
        class="titleGlobal"
        style="font-size: 30px; color: #ff6884; margin-top: 30px"
      >
        - Ensemble, créons des moments d'apprentissage qui seront axés sur les
        compétences techniques (hardskills)
      </div>
      <div
        class="titleGlobal"
        style="font-size: 30px; color: #ff6884; margin-top: 30px"
      >
        - Mais aussi sur les compétences générales (softskills).
      </div>
      <div class="descriptionGlobal" style="margin-top: 30px">
        "On peut très bien se former sur des normes comptables, et en parallèle
        améliorer sa prise de parole en publique."
      </div>
    </div>
  </div>

  <img src="assets/svg/vague.svg" />
  <footer>
    <div class="container">
      <div class="row">
        <div
          class="col-lg-12 wow fadeIn"
          data-wow-duration="1s"
          data-wow-delay="0.25s"
        >
          <p>
            © Copyright 2021 Space Dynamic Co. All Rights Reserved.

            <br />Design:
            <a rel="nofollow" href="https://templatemo.com">TemplateMo</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
