<body style="background-color: #f5f4ff">
  <!-- ***** Preloader Start ***** -->
  <!--  <div id="js-preloader" class="js-preloader">-->
  <!--    <div class="preloader-inner">-->
  <!--      <span class="dot"></span>-->
  <!--      <div class="dots">-->
  <!--        <span></span>-->
  <!--        <span></span>-->
  <!--        <span></span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="index.html" class="logo">
              <img style="width: 60px; height: 60px" src="assets/images/logo/logo3.png" />
            </a>

            <ul class="nav">
              <li class="scroll-to-section">
                <a class="active" href="#top">Accueil</a>
              </li>
              <li class="scroll-to-section">
                <a (click)="goToMissions()">Missions</a>
              </li>
              <li class="scroll-to-section">
                <div class="main-red-button">
                  <a>Se connecter</a>
                </div>
              </li>
            </ul>

            <a class="menu-trigger">
              <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div
    class="main-banner wow fadeIn"
    id="top"
    data-wow-duration="1s"
    data-wow-delay="0.5s"
    style="background-color: #f5f4ff"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center" style="z-index: 1">
              <div
                class="left-content header-text wow fadeInLeftBig"
                data-wow-duration="1s"
                data-wow-delay="1s"
                style="position: absolute; top: 15%"
              >
                <div
                  id="bigTitle"
                  style="
                    font-family: 'Gilroy ExtraBold', sans-serif;
                    font-size: 80px;
                    display: flex;
                    flex-direction: column;
                    margin-left: -100px;
                  "
                >
                  <div>Boostez</div>
                  <div>votre entreprise.</div>
                  <div style="width: 980px">
                    <div class="mask">
                      <div class="word-apple" data-show>Expertise-Comptable.</div>
                      <div class="word-apple">Formation.</div>
                      <div class="word-apple">Coaching.</div>
                    </div>
                  </div>
                </div>

                <div
                  style="
                    font-family: 'Gilroy Light', sans-serif;
                    font-size: 40px;
                    margin-left: -100px;
                    margin-top: 150px;
                    width: 70%;
                  "
                  class="newsletterContainer"
                >
                  Entrepreneurs,
                  <div style="white-space: nowrap">vous êtes au bon endroit.</div>
                </div>
                <div
                  style="
                    margin-left: -100px;
                    margin-top: 10px;
                    font-family: 'MadeTommy Medium', sans-serif;
                    font-size: 20px;
                    width: 70%;
                  "
                  class="newsletterContainer"
                >
                  Inscrivez-vous à notre Newsletter et recevez nos meilleurs conseils :
                </div>
                <div style="margin-left: -100px; margin-top: 20px" class="subscribeForm">
                  <div class="emailForm">
                    <input
                      id="emailToSend"
                      type="email"
                      size="40"
                      class="emailInput"
                      aria-required="true"
                      aria-invalid="false"
                      placeholder="Votre adresse email"
                    />
                    <button (click)="sendEmail()" class="email-btn">
                      <span class="btn-load"></span>
                      <span class="text">Je m'inscris</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img
                  style="transform: scale(3.5); margin-top: 155px; transform-origin: initial"
                  src="assets/images/template4/hello3.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="flexContainer1" class="fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" style="margin-left: 80px">
    <div class="container customContainer">
      <div class="flexContainer" id="myFlexContainer">
        <div class="wrap" (click)="scrollToId('section3part1')">
          <div class="theMagicBorder">
            <div class="logoMagic">
              <img src="assets/images/template4/expertiseComptableBlue.svg" />
            </div>
            <div class="titleMagic">Expertise Comptable</div>
            <div class="titleDescription">
              Nous offrons à nos clients une attention personnalisée et l'attention nécessaire pour assurer que leurs
              projets soient menés à bien.
            </div>
          </div>
        </div>

        <div
          class="wrap"
          (click)="scrollToId('customContainerRight')"
          style="display: flex; flex-direction: column; justify-content: space-between"
        >
          <div class="theMagicBorder">
            <div class="logoMagic" style="flex: 0.5">
              <img src="assets/images/template4/formationBlue.svg" />
            </div>
            <div class="titleMagic" style="flex: 0.5">Formation</div>
            <div class="titleDescription">
              A nos côtés, vous aurez l'opportunité de développer vos apprentissages personnels et professionnels.
            </div>
          </div>
        </div>

        <div class="wrap" (click)="scrollToId('section3part3')">
          <div class="theMagicBorder">
            <div class="logoMagic">
              <img src="assets/images/template4/jogging.svg" />
            </div>
            <div class="titleMagic">Coaching</div>
            <div class="titleDescription">
              Les clients reçoivent les outils et conseils nécessaires pour répondre à tous leurs besoins comptables,
              juridiques et fiscaux.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div>
    <img
      style="
        width: 700px;
        position: absolute;
        top: auto;
        right: 70vw;
        opacity: 0.8;
      "
      src="assets/svg/liquid-ungu.svg"
    />
  </div>-->

  <div
    style="
      background-color: white;
      width: 100%;
      max-width: 100%;
      height: 100%;
      padding: 30px;
      border-radius: 40px;
      margin-top: 100px;
    "
  >
    <div style="font-family: 'MadeTommy Medium', sans-serif; font-size: 40px; text-align: center; margin-bottom: 50px">
      <img src="assets/images/icons/surprise-box.png" style="width: 100px; display: block; margin: 0 auto 15px auto" />
      Vous n'êtes pas ici par hasard.
      <div>Nos experts-comptables et nos équipes sont faites pour vous si :</div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap">
      <div style="display: flex; flex-direction: column; margin: 30px">
        <img style="width: 100px; display: block; margin: 0 auto 15px auto" src="assets/images/icons/nouer.png" />
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
          <div style="background-color: #2a356c; border-radius: 15px; width: 45px; height: 45px; position: relative">
            <p
              style="
                font-family: 'EncodeSans Medium', serif;
                font-size: 25px;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
              "
            >
              1
            </p>
          </div>
          <div style="flex-direction: column; display: flex">
            <div style="font-family: 'MadeTommy Medium', sans-serif; margin-left: 10px">
              Vous êtes entrepreneur. Pas Comptable.
            </div>
            <div style="font-family: 'MadeTommy Regular', sans-serif; font-size: 15px; margin-left: 10px">
              (La compta vous donne des boutons ...)
            </div>
          </div>
        </div>
      </div>

      <div style="display: flex; flex-direction: column; margin: 30px">
        <img style="width: 100px; display: block; margin: 0 auto 15px auto" src="assets/images/icons/bourse.png" />
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
          <div style="background-color: #2a356c; border-radius: 15px; width: 45px; height: 45px; position: relative">
            <p
              style="
                font-family: 'EncodeSans Medium', serif;
                font-size: 25px;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
              "
            >
              2
            </p>
          </div>
          <div style="flex-direction: column; display: flex">
            <div style="font-family: 'MadeTommy Medium', sans-serif; margin-left: 10px">
              Vous souhaitez optimiser vos impôts.
            </div>
            <div style="font-family: 'MadeTommy Regular', sans-serif; font-size: 15px; margin-left: 10px">
              (On ne va pas se mentir.)
            </div>
          </div>
        </div>
      </div>

      <div style="display: flex; flex-direction: column; margin: 30px">
        <img style="width: 100px; display: block; margin: 0 auto 15px auto" src="assets/images/icons/de-largent.png" />
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
          <div style="background-color: #2a356c; border-radius: 15px; width: 45px; height: 45px; position: relative">
            <p
              style="
                font-family: 'EncodeSans Medium', serif;
                font-size: 25px;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
              "
            >
              3
            </p>
          </div>
          <div style="flex-direction: column; display: flex">
            <div style="font-family: 'MadeTommy Medium', sans-serif; margin-left: 10px">
              Vous souhaitez optimiser votre rémunération.
            </div>
            <div style="font-family: 'MadeTommy Regular', sans-serif; font-size: 15px; margin-left: 10px">
              (Tout travail mérite salaire.)
            </div>
          </div>
        </div>
      </div>

      <div style="display: flex; flex-direction: column; margin: 30px">
        <img
          style="width: 100px; display: block; margin: 0 auto 15px auto"
          src="assets/images/icons/nomade-numerique.png"
        />
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
          <div style="background-color: #2a356c; border-radius: 15px; width: 45px; height: 45px; position: relative">
            <p
              style="
                font-family: 'EncodeSans Medium', serif;
                font-size: 25px;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
              "
            >
              4
            </p>
          </div>
          <div style="flex-direction: column; display: flex">
            <div style="font-family: 'MadeTommy Medium', sans-serif; margin-left: 10px">
              Vous voulez vous concentrer sur votre coeur de métier.
            </div>
            <div style="font-family: 'MadeTommy Regular', sans-serif; font-size: 15px; margin-left: 10px">
              (Mettre ses atouts au profit de la productivité.)
            </div>
          </div>
        </div>
      </div>

      <div style="display: flex; flex-direction: column; margin: 30px">
        <img style="width: 100px; display: block; margin: 0 auto 15px auto" src="assets/images/icons/thinking.png" />
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
          <div style="background-color: #2a356c; border-radius: 15px; width: 45px; height: 45px; position: relative">
            <p
              style="
                font-family: 'EncodeSans Medium', serif;
                font-size: 25px;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
              "
            >
              5
            </p>
          </div>
          <div style="flex-direction: column; display: flex">
            <div style="font-family: 'MadeTommy Medium', sans-serif; margin-left: 10px">
              Ou encore pour bien d'autres raisons.
            </div>
            <div style="font-family: 'MadeTommy Regular', sans-serif; font-size: 15px; margin-left: 10px">
              (Liste non-exhaustive ...)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section3part1" style="display: flex; flex-direction: row; margin-top: 50px; align-items: center">
    <div style="height: 60vh">
      <!--      <img
        id="carImage"
        style="width: 1100px; height: 1100px; margin-left: -300px"
        src="assets/images/template4/car.svg"
      />-->
      <ng-lottie id="carImage" [options]="{ path: 'assets/lotties/computer-finance.json' }"></ng-lottie>
    </div>
    <div style="flex-basis: 50%; margin-left: 50px; margin-right: 10px; align-items: center">
      <div class="titleGlobal" style="margin-top: 150px">Chez Accounting Luxembourg Institute,</div>
      <div class="descriptionGlobal" style="margin-top: 50px">
        Nous avons le souci de vos intérêts personnels et commerciaux. Notre objectif est de vous fournir des outils et
        conseils judicieux pour faciliter vos prises de décisions.
      </div>

      <div class="titleGlobal" style="font-size: 20px; color: #2a356c; margin-top: 30px">
        <img style="height: 60px; width: 60px; margin-right: 20px" src="assets/images/icons/hommePc.png" />
        Gestion de la comptabilité et de la fiscalité de nos clients
      </div>

      <div class="titleGlobal" style="font-size: 20px; color: #2a356c; margin-top: 30px">
        <img style="height: 60px; width: 60px; margin-right: 20px" src="assets/images/icons/business2.png" />
        Adaptation de nos services aux besoins de chacun
      </div>
      <div class="titleGlobal" style="font-size: 20px; color: #2a356c; margin-top: 30px">
        <img style="height: 60px; width: 60px; margin-right: 20px" src="assets/images/icons/business3.png" />
        Votre comptabilité est entre de bonnes mains.
      </div>

      <div class="descriptionGlobal" style="margin-top: 30px">
        Contactez-nous et commencez à vous occuper de ce qui est vraiment important pour vous.
      </div>
    </div>
  </div>
  <img
    id="path1"
    style="
      width: 220px;

      position: absolute;

      margin-top: 80px;
      margin-left: 100px;
    "
    src="assets/svg/step2-3.svg"
  />
  <div style="position: absolute; right: auto; bottom: auto; overflow: hidden; width: 100%; height: 100%">
    <img
      style="
        width: 700px;
        width: 700px;
        position: absolute;
        left: 84.6vw;
        top: auto;
        right: auto;

        opacity: 0.8;
      "
      src="assets/svg/liquid-purple.svg"
    />
  </div>

  <div class="customContainerRight" id="customContainerRight" style="margin-top: 200px">
    <div style="display: flex; flex-direction: row" id="section3part2">
      <div id="section3part2Div1" style="flex-basis: 50%; margin-left: 200px; margin-right: 10px; align-items: center">
        <div class="titleGlobal" style="margin-top: 150px">Quand l'expert-comptable est aussi votre coach</div>
        <div class="descriptionGlobal" style="margin-top: 50px">
          Chez Accounting Luxembourg Institute, nous avons la conviction que pour que votre activité soit prospère, il
          faut être à son écoute.
        </div>
        <div class="titleGlobal" style="font-size: 40px; color: #2a356c; margin-top: 30px">
          Et votre activité, c'est vous !
        </div>
        <div class="descriptionGlobal" style="margin-top: 30px">
          C'est pourquoi notre ambition, en plus des missions comptables, juridiques et fiscales, est de vous
          accompagner à faire passer votre business à l'étape supérieure.
        </div>
      </div>
      <div>
        <ng-lottie
          style="width: 1100px; height: 1100px"
          id="login-lottie"
          [options]="{ path: 'assets/lotties/popeye.json' }"
        ></ng-lottie>
      </div>
    </div>
  </div>
  <img
    id="path2"
    style="width: 220px; position: absolute; margin-top: -100px; margin-right: 100px; right: 0"
    src="assets/svg/step1-2.svg"
  />
  <div style="display: flex; flex-direction: row; margin-top: 50px" id="section3part3">
    <div style="">
      <img
        id="carImage3"
        style="width: 1100px; height: 1100px; margin-left: -150px"
        src="assets/images/template4/car.svg"
      />
    </div>
    <div style="flex-basis: 50%; margin-left: 50px; margin-right: 10px">
      <div class="titleGlobal" style="margin-top: 150px">La vie est un apprentissage qui ne finit jamais</div>
      <div class="descriptionGlobal" style="margin-top: 50px">
        Dites nous ce que vous faites, nous identifierons ce dont vous avez besoin.
      </div>
      <div style="flex-direction: row; display: flex; align-items: center; margin-top: 30px">
        <div>
          <img style="width: 60px; height: 60px" src="assets/images/icons/goal.png" />
        </div>
        <div class="titleGlobal" style="font-size: 20px; color: #2a356c; margin-left: 20px">
          Nous définissons ensemble vos objectifs. Et mettons un plan de formation sur mesure et adapté à vos besoins.
        </div>
      </div>

      <div style="flex-direction: row; display: flex; align-items: center; margin-top: 30px">
        <div>
          <img style="width: 60px; height: 60px" src="assets/images/icons/technique.png" />
        </div>
        <div class="titleGlobal" style="font-size: 20px; color: #2a356c; margin-left: 20px">
          Ensemble, créons des moments d'apprentissage qui seront axés sur les compétences techniques (hardskills)
        </div>
      </div>

      <div style="flex-direction: row; display: flex; align-items: center; margin-top: 30px">
        <div>
          <img style="width: 60px; height: 60px" src="assets/images/icons/skill.png" />
        </div>
        <div class="titleGlobal" style="font-size: 20px; color: #2a356c; margin-left: 20px">
          Mais aussi sur les compétences générales (softskills).
        </div>
      </div>

      <div class="descriptionGlobal" style="margin-top: 30px">
        "On peut très bien se former sur des normes comptables, et en parallèle améliorer sa prise de parole en
        publique."
      </div>
    </div>
  </div>

  <div
    style="
      background-color: white;
      width: 100%;
      max-width: 100%;
      height: 100%;

      border-radius: 40px;
      margin-top: 30px;
    "
  >
    <div style="font-family: 'MadeTommy Medium', sans-serif; font-size: 50px; text-align: center; margin-bottom: 50px">
      <div style="height: 60vh">
        <ng-lottie [options]="{ path: 'assets/lotties/biker.json' }"></ng-lottie>
      </div>
      Nos missions
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; flex-wrap: wrap">
      <app-mission-container></app-mission-container>
      <app-mission-container2></app-mission-container2>
      <app-mission-container3></app-mission-container3>
    </div>
  </div>

  <div style="font-family: 'MadeTommy Medium', sans-serif; font-size: 40px; text-align: center; margin-top: 100px">
    <img src="assets/images/icons/avis-client.png" style="width: 100px; display: block; margin: 0 auto 15px auto" />
    Ils nous recommandent :
  </div>
  <app-carousel></app-carousel>

  <div
    style="
      margin-top: 100px;
      background-image: url('assets/landscapes/noiselightBlue.jfif');
      background-size: cover;
      height: 500px;
      padding-top: 3rem;
    "
  >
    <app-batman></app-batman>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
      <img style="height: 50px; width: 50px; margin-right: 40px" src="assets/images/icons/facebook.svg" />
      <div style="height: 120px; width: 120px; border-radius: 60px; background-color: #fde3d7; text-align: center">
        LOGO
      </div>
      <img style="height: 50px; width: 50px; margin-left: 40px" src="assets/images/icons/linkedin.svg" />
    </div>
    <div style="color: #fd6c43; font-family: 'MadeTommy Regular', serif; text-align: center; margin-top: 100px">
      Me contacter :
    </div>

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 20px">
      <div style="color: #fd6c43; font-family: 'MadeTommy Regular', serif; position: absolute; left: 10%">
        Adresse
        <div>4 rue de la Fleur</div>
      </div>
      <div
        id="contactContainer"
        (mouseover)="makeItSmile()"
        (mouseout)="makeItCry()"
        (click)="openForm()"
        style="
          background-color: #fd6c43;
          height: 80px;
          width: 250px;
          color: #fde3d7;
          font-family: 'MadeTommy Medium', serif;
          text-align: center;
          border-radius: 0.5rem;
          line-height: 80px;
        "
      >
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
          <div
            id="avatarContactButton"
            style="
              background-image: url('../../assets/images/icons/crying.png');
              background-size: cover;
              width: 60px;
              height: 60px;
            "
          ></div>

          <div style="margin-left: 5px">Nouveau message</div>
        </div>
      </div>
      <div style="color: #fd6c43; font-family: 'MadeTommy Regular', serif; position: absolute; right: 10%">
        Téléphone
        <div>06 00 00 00 00</div>
      </div>
    </div>

    <div id="modal_wrapper2" class="modal_wrapper2">
      <div class="shadow2" (click)="closeForm()"></div>
      <div class="success_wrap2">
        <app-formulaire></app-formulaire>
      </div>
    </div>
  </div>
</body>
