@import 'src/styles';

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logoMagic {
  min-height: 250px;
}
.titleMagic {
  font-family: 'MadeTommy Medium', sans-serif;
  font-size: 40px;
  margin-top: 50px;
  text-transform: lowercase;
}
.titleMagic:first-letter {
  text-transform: uppercase;
}
.titleDescription {
  font-family: 'EncodeSans Regular', sans-serif;
  font-size: 20px;
  color: #9690aa;
  margin-top: 50px;
  text-transform: lowercase;
}
.titleDescription:first-letter {
  text-transform: uppercase;
}
@mixin magic-border($width, $color, $duration, $direction) {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: calc(100% + #{$width * 2});
    height: calc(100% + #{$width * 2});
    top: calc(#{$width}/ -1);
    left: calc(#{$width}/ -1);
    background: linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%),
      linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%),
      linear-gradient(to left, $color 0%, $color 100%);
    background-size: 100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform $duration ease-in-out, background-position $duration ease-in-out,
      background-size $duration ease-in-out;
    transform: scaleX(0) rotate(180deg * $direction);
    transition-delay: $duration * 2, $duration, 0s;
  }
  &:hover {
    &:before {
      background-size: 200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
      background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform: scaleX(1) rotate(180deg * $direction);
      transition-delay: 0s, $duration, $duration * 2;
    }
  }
}

@mixin magic-border-mask($width, $duration, $background, $direction) {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: calc(100% + #{$width * 2});
    height: calc(100% + #{$width * 2});
    top: calc(#{$width}/ -1);
    left: calc(#{$width}/ -1);
    mask: linear-gradient(to right, #000 0%, #000 100%), linear-gradient(to top, #000 50%, transparent 50%),
      linear-gradient(to top, #000 50%, transparent 50%), linear-gradient(to right, #000 0%, #000 100%),
      linear-gradient(to left, #000 0%, #000 100%);
    mask-size: 100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
    mask-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    mask-repeat: no-repeat, no-repeat;
    transition: transform $duration ease-in-out, mask-position $duration ease-in-out, mask-size $duration ease-in-out;
    transform: scaleX(0) rotate(180deg * $direction);
    transition-delay: $duration * 2, $duration, 0s;
    background: $background;
  }
  &:hover {
    &:before {
      mask-size: 200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
      mask-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform: scaleX(1) rotate(180deg * $direction);
      transition-delay: 0s, $duration, $duration * 2;
    }
  }
}

.wrap {
  width: 400px;
  .theMagicBorder {
    min-height: 700px;
    text-decoration: none;
    color: #222;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    @include magic-border-mask(
      10px,
      0.4s,
      linear-gradient(to bottom, rgba(42, 53, 108, 1) 0%, rgba(245, 143, 106, 1) 100%),
      0
    );
    align-self: flex-end;
    font-family: 'Oswald';
    margin: 20px;
    flex-grow: 1;
    cursor: pointer;
  }
}

.customContainer {
  background-color: white;
  padding: 0;
  width: 100%;
  max-width: 100%;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  height: 100%;
  padding-top: 50px;
}

.customContainerRight {
  background-color: white;
  padding: 0;
  width: 100%;
  max-width: 100%;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  height: 100%;
  padding-top: 30px;
  margin-left: -80px;
}

.titleGlobal {
  font-family: 'MadeTommy Medium', sans-serif;
  font-size: 50px;
}
.titleGlobal:first-letter {
  text-transform: uppercase;
}

.descriptionGlobal {
  font-family: 'EncodeSans Regular', sans-serif;
  font-size: 20px;
}
.descriptionGlobal:first-letter {
  text-transform: uppercase;
}

/*NEWSLETTER*/
.subscribeForm {
  padding: 0px;
  width: 100%;
  position: relative;
}

.emailForm {
  display: block;
  position: relative;
  word-wrap: break-word;
  text-align: left;
}

.emailInput {
  width: 70%;
  direction: ltr;
  background-color: rgba(23, 22, 26, 0.14);
  color: #232226;
  border: 1px solid transparent;
  padding: 14px 15px;
  line-height: 1.3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  -webkit-appearance: none;
  outline: none;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
}

.email-btn {
  color: #fff;
  background-color: #17161a;
  border: 1px solid #17161a;
  padding: 14px 18px;
  min-height: 52px;
  line-height: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  font-family: 'Space Grotesk Bold', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: inherit;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  display: inline-block;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.modal_wrapper2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.modal_wrapper2 .shadow2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.2s ease;
}

.modal_wrapper2 .success_wrap2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -800px);
  background: #fff;
  padding: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: 0.5s ease;
}

.modal_wrapper2 .success_wrap2 {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background: #6b59d3;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
}

.modal_wrapper2.active {
  visibility: visible;
}

.modal_wrapper2.active .shadow2 {
  opacity: 1;
}

.modal_wrapper2.active .success_wrap2 {
  transform: translate(-50%, -50%);
}

:root {
  --offset: 6px;
}

.mask {
  height: 106px;
  position: relative;
  overflow: hidden;
  margin-top: var(--offset);
}

.mask .word-apple {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 100px;
  padding-bottom: var(--offset);

  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.mask .word-apple[data-show] {
  transform: translateY(-100%);
  transition: 0.5s transform ease-in-out;
}

.mask .word-apple[data-up] {
  transform: translateY(-200%);
  transition: 0.5s transform ease-in-out;
}

.mask .word-apple:nth-child(1) {
  background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask .word-apple:nth-child(2) {
  background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask .word-apple:nth-child(3) {
  background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask .word-apple:nth-child(4) {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

.mask .word-apple:nth-child(5) {
  background-image: linear-gradient(45deg, #15a289 50%, #1a913e);
}

mark {
  background-color: #b1ffad;
  color: #120459;
}

$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    font-weight: 600;
    color: $text;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: $light-pink;
    border: 2px solid $pink-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-pink;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $pink;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: $pink;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}
