<body style="background-color: #f5f4ff">
  <!-- ***** Preloader Start ***** -->
  <!--  <div id="js-preloader" class="js-preloader">-->
  <!--    <div class="preloader-inner">-->
  <!--      <span class="dot"></span>-->
  <!--      <div class="dots">-->
  <!--        <span></span>-->
  <!--        <span></span>-->
  <!--        <span></span>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="index.html" class="logo">
              <img style="width: 60px; height: 60px" src="assets/images/logo/logo3.png" />
            </a>

            <ul class="nav">
              <li class="scroll-to-section">
                <a style="cursor: pointer" (click)="navigateTo('homepage')">Accueil</a>
              </li>
              <li class="scroll-to-section">
                <a (click)="navigateTo('missions')" style="cursor: pointer">Missions</a>
              </li>

              <li class="scroll-to-section">
                <a style="cursor: pointer" class="active">Qui sommes-nous ?</a>
              </li>
              <li class="scroll-to-section">
                <div class="main-red-button">
                  <a>Se connecter</a>
                </div>
              </li>
            </ul>

            <a (click)="openMenu()" class="menu-trigger">
              <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div
    class="main-banner wow fadeIn"
    id="top"
    data-wow-duration="1s"
    data-wow-delay="0.5s"
    style="background-color: #f5f4ff"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center" style="z-index: 1">
              <div
                class="left-content header-text wow fadeInLeftBig"
                data-wow-duration="1s"
                data-wow-delay="1s"
                style="position: absolute; top: 15%"
              >
                <div
                  id="bigTitle"
                  style="
                    font-family: 'Gilroy ExtraBold', sans-serif;
                    font-size: 80px;
                    display: flex;
                    flex-direction: column;
                  "
                >
                  <div>Qui sommes-nous?</div>
                  <div style="width: 980px">
                    <div class="mask">
                      <div class="word-apple3" data-show>Abdelhadi.</div>
                      <div class="word-apple3">Benjamin?</div>
                      <div class="word-apple3">Benjam? Présent.</div>
                      <div class="word-apple3">Erico.</div>
                      <div class="word-apple3">Nat ?</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img
                  style="transform: scale(2.5); margin-top: 155px; transform-origin: initial"
                  src="assets/images/who.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="flexContainerWho1" class="fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" style="margin-left: 80px">
    <div class="container customContainer">
      <div
        style="font-family: 'MadeTommy Medium', sans-serif; font-size: 50px; text-align: center; margin-bottom: 50px"
      >
        Notre vision
      </div>
      <div class="flexContainer" id="myFlexContainer">
        <div class="wrap">
          <div class="theMagicBorder">
            <div class="logoMagic">
              <img src="assets/images/template4/expertiseComptableBlue.svg" />
            </div>
            <div class="titleMagic">1. La dimension humaine</div>
            <div class="titleDescription">D'abord et toujours !</div>
          </div>
        </div>

        <div class="wrap" style="display: flex; flex-direction: column; justify-content: space-between">
          <div class="theMagicBorder">
            <div class="logoMagic" style="flex: 0.5">
              <img src="assets/images/template4/formationBlue.svg" />
            </div>
            <div class="titleMagic" style="flex: 0.5">Relire 1</div>
            <div class="titleDescription">
              A nos côtés, vous aurez l'opportunité de développer vos apprentissages personnels et professionnels.
            </div>
          </div>
        </div>

        <div class="wrap">
          <div class="theMagicBorder">
            <div class="logoMagic">
              <img src="assets/images/template4/jogging.svg" />
            </div>
            <div class="titleMagic">Les chiffres</div>
            <div class="titleDescription">
              Les clients reçoivent les outils et conseils nécessaires pour répondre à tous leurs besoins comptables,
              juridiques et fiscaux.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="missionsPart2" style="margin-top: 30px" class="fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div
        style="
          background-color: #fffaee;
          margin-top: 100px;
          font-family: 'MadeTommy Medium', sans-serif;
          border-style: solid;
          border-width: 1px 1px 1px 1px;
          border-color: #9fa3ad33;
          border-radius: 30px 30px 30px 30px;
          padding: 20px;
        "
      >
        <div style="display: flex; flex-direction: row">
          <div style="display: flex; flex-direction: column; width: 35%; justify-content: center">
            <div style="height: 200px">
              <ng-lottie [options]="{ path: 'assets/lotties/breath.json' }"></ng-lottie>
            </div>
            <button style="margin-top: 30px" class="learn-more">Contacter un expert</button>
          </div>
          <div
            style="
              display: flex;
              flex-direction: column;
              width: 65%;
              font-family: 'MadeTommy Regular', serif;
              color: #120459;
              margin-left: 20px;
            "
          >
            <div style="font-size: 36px; font-family: 'MadeTommy Medium', serif">
              1. La dimension humaine,
              <mark>d'abord et toujours !</mark>
            </div>
            <div style="margin-top: 20px">
              Vous êtes entrepreneur ou souhaitez le devenir : Vous avez créé une entreprise dont vous êtes fier. Dans
              ce projet, vous y avez mis du cœur, de l’énergie, et beaucoup de sacrifices.
            </div>
            <div style="margin-top: 5px">
              Vous vous battez chaque jour pour développer votre société, la faire grandir… seulement voilà..
            </div>
            <div style="margin-top: 5px">
              Quand on entreprend, on a vite le « nez dans le guidon ». On se retrouve à passer la majeure partie de son
              temps à régler des problèmes quotidiens et des urgences.
            </div>

            <div style="margin-top: 5px">
              Les problématiques auxquelles sont confrontés les entrepreneurs sont très diverses. Parmi elles, voici une
              liste non-exhaustive des sujets sur lesquels le coaching est un allié de choix :
            </div>
            <div style="margin-top: 15px">• Fixer ses tarifs</div>
            <div style="margin-top: 5px">• Revenus instables</div>
            <div style="margin-top: 5px">• Ressources humaines (une galère)</div>
            <div style="margin-top: 5px">• Démarchage de la clientèle</div>
            <div style="margin-top: 5px">• Les défauts de paiements des clients</div>
            <div style="margin-top: 5px">• La gestion du temps</div>
            <div style="margin-top: 5px">• La gestion administrative</div>
            <div style="margin-top: 5px">• La croissance de l’entreprise</div>
            <div style="margin-top: 5px">• Coaching Cohésion d’équipes</div>
            <div style="margin-top: 5px">• Les difficultés de financement</div>
            <div style="margin-top: 5px">• La solitude de l’entrepreneur</div>
            <div style="margin-top: 5px">
              • Paix dans le ménage/ Absence de soutien du conjoint (ou de la conjointe)
            </div>
            <div style="margin-top: 5px">• Le doute</div>
            <div style="margin-top: 5px">• ...</div>

            <div style="margin-top: 20px"><b>En bref :</b></div>
            <div>
              La puissance du coaching réside dans le fait que chaque pan de votre vie personnelle ou professionnelle
              peut être abordé pour vous permettre une prise de hauteur sur votre situation
              <div>et tirer le meilleur de vos ressources inexploitées.</div>
            </div>
            <div style="margin-top: 20px">Pensez-vous que vous êtes au maximum de votre potentiel ?</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-choose-your-character></app-choose-your-character>

  <div
    style="
      margin-top: 100px;
      background-image: url('assets/landscapes/noiselightBlue.jfif');
      background-size: cover;
      height: 500px;
      padding-top: 3rem;
    "
  >
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
      <img style="height: 50px; width: 50px; margin-right: 40px" src="assets/images/icons/facebook.svg" />
      <div style="height: 120px; width: 120px; border-radius: 60px; background-color: #fde3d7; text-align: center">
        LOGO
      </div>
      <img style="height: 50px; width: 50px; margin-left: 40px" src="assets/images/icons/linkedin.svg" />
    </div>
    <div style="color: #fd6c43; font-family: 'MadeTommy Regular', serif; text-align: center; margin-top: 100px">
      Me contacter :
    </div>

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 20px">
      <div style="color: #fd6c43; font-family: 'MadeTommy Regular', serif; position: absolute; left: 10%">
        Adresse
        <div>4 rue de la Fleur</div>
      </div>
      <div
        id="contactContainer"
        (mouseover)="makeItSmile()"
        (mouseout)="makeItCry()"
        (click)="openForm()"
        style="
          background-color: #fd6c43;
          height: 80px;
          width: 250px;
          color: #fde3d7;
          font-family: 'MadeTommy Medium', serif;
          text-align: center;
          border-radius: 0.5rem;
          line-height: 80px;
        "
      >
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
          <div
            id="avatarContactButton"
            style="
              background-image: url('../../assets/images/icons/crying.png');
              background-size: cover;
              width: 60px;
              height: 60px;
            "
          ></div>

          <div style="margin-left: 5px">Nouveau message</div>
        </div>
      </div>
      <div style="color: #fd6c43; font-family: 'MadeTommy Regular', serif; position: absolute; right: 10%">
        Téléphone
        <div>06 00 00 00 00</div>
      </div>
    </div>

    <div id="modal_wrapper2" class="modal_wrapper2">
      <div class="shadow2" (click)="closeForm()"></div>
      <div class="success_wrap2">
        <app-formulaire></app-formulaire>
      </div>
    </div>
  </div>
</body>
